[submodule "home/.vim/bundle/vim-vividchalk"]
	path = home/.vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/snipmate.vim"]
	path = home/.vim/bundle/snipmate.vim
	url = git://github.com/akitaonrails/snipmate.vim.git
[submodule "home/.vim/snippets"]
	path = home/.vim/snippets
	url = git://github.com/fnichol/snipmate-snippets.git
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-ruby-sinatra"]
	path = home/.vim/bundle/vim-ruby-sinatra
	url = git://github.com/hallison/vim-ruby-sinatra.git
[submodule "home/.vim/bundle/bufexplorer"]
	path = home/.vim/bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "home/.vim/bundle/vim-cucumber"]
	path = home/.vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "home/.vim/bundle/creole.vim"]
	path = home/.vim/bundle/creole.vim
	url = git://github.com/vim-scripts/creole.vim.git
[submodule "home/.vim/bundle/gitolite.vim"]
	path = home/.vim/bundle/gitolite.vim
	url = git://github.com/tmatilai/gitolite.vim.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-rdoc"]
	path = home/.vim/bundle/vim-rdoc
	url = git://github.com/hallison/vim-rdoc.git
[submodule "home/.vim/bundle/json.vim"]
	path = home/.vim/bundle/json.vim
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/matchit.zip"]
	path = home/.vim/bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "home/.vim/bundle/vim-textobj-user"]
	path = home/.vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "home/.vim/bundle/vim-textobj-rubyblock"]
	path = home/.vim/bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "home/.vim/bundle/vim-colors-solarizied"]
	path = home/.vim/bundle/vim-colors-solarizied
	url = git://github.com/altercation/vim-colors-solarized.git
